<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	 version="2.4">

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            generate.jsp
        </welcome-file>
    </welcome-file-list>
    <context-param>
      <param-name>model-repository</param-name>
      <param-value>../models</param-value>
    </context-param>
    <context-param>
      <param-name>data-repository</param-name>
      <param-value>../hmm-data</param-value>
    </context-param>

</web-app>
